CREATE OR REPLACE FUNCTION increment_quota(p_user_id uuid, p_turns integer) RETURNS integer LANGUAGE plpgsql SECURITY DEFINER AS \$\$ DECLARE v_new_turns integer; BEGIN INSERT INTO user_quotas (user_id, turns_remaining, updated_at) VALUES (p_user_id, p_turns, now()) ON CONFLICT (user_id) DO UPDATE SET turns_remaining = user_quotas.turns_remaining + EXCLUDED.turns_remaining, updated_at = now() RETURNING turns_remaining INTO v_new_turns; RETURN v_new_turns; END; \$\$; REVOKE ALL ON FUNCTION increment_quota(uuid, integer) FROM PUBLIC; GRANT EXECUTE ON FUNCTION increment_quota(uuid, integer) TO authenticated; GRANT EXECUTE ON FUNCTION increment_quota(uuid, integer) TO service_role;
